/* Загальні стилі */
* {
    font-family: Roboto, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Стилі для заголовка */
.header {
    background: linear-gradient(to right, #4CAF50, #45a049); /* Другий фон - градієнт */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Стилі для навігаційного контейнера */
.header-nav {
    display: flex;
    justify-content: center; /* Центрує посилання по горизонталі */
    align-items: center;
    gap: 20px; /* Відстань між посиланнями */
}

/* Стилі для елементів навігації */
.headerElement {
    text-align: center;
}

/* Стилі для посилань */
.header-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-link:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Ефект при наведенні */
}





/* Стилі для контейнера */
.container {
    width: 75%; /* Зменшено ширину для центрування */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стилі для форми */
.patient-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    width: 30%; /* Задає однакову ширину для лейблів */
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 65%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.patient-form .submit-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.patient-form .submit-button:hover {
    background-color: #45a049;
}

/* Стилі для таблиці */
.patient-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.patient-table th, .patient-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.patient-table th {
    background-color: #f2f2f2;
    color: #333;
}

.patient-table tr:hover {
    background-color: #f1f1f1;
}

.patient-table .action-button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.patient-table .action-button:hover {
    background-color: #0056b3;
}
