<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert= "~{fragments/settingsPage ::settingsFragment }" />
    <title>Patients</title>
</head>

<body>
    <th:block th:insert= "~{fragments/headerPage ::headerFragment }" />
    <div>
        <form th:action="@{/addPatientForm}" method="post" >
            <input type="text" name="surname" placeholder="Surname" value="a">
            <input type="text" name="name" placeholder="Name" value="a">
            <input type="text" name="patronymic" placeholder="Patronymic" value="a">
            <select name="gender">
                <option value="NONE">NONE</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
            <input type="date" name="birthDate" value="2004-09-12">
            <input type="text" name="phonenumber" placeholder="Phonenumber" value="555" >
            <input type="email" name="email" placeholder="email" value="1@ukr.net">
            <input type="submit" value="Save">
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Surmame</th>
                <th>Name</th>
                <th>patronymic</th>
                <th>Gender</th>
                <th>BirthDate</th>
                <th>Phonenumber</th>
                <th>Email</th>
            </tr>
            <tr th:each = "patient:${patientList}">
                <td th:utext="${patient.id}"></td>
                <td th:utext="${patient.surname}"></td>
                <td th:utext="${patient.name}"></td>
                <td th:utext="${patient.patronymic}"></td>
                <td th:utext="${patient.gender}"></td>
                <td th:utext="${patient.birthDate}"></td>
                <td th:utext="${patient.phonenumber}"></td>
                <td th:utext="${patient.email}"></td>
                <td>
                    <form th:action= "@{/patientUpdateRedirect}" method="post">
                        <input type="hidden" name="patientId" th:value="${patient.id}"/>
                        <input type="submit" value="&#8942;"/>
                    </form>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>